@import url('https://fonts.cdnfonts.com/css/rem');

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'REM', sans-serif;
}

.homepage-header {
  text-align: center;
}

.about-section {
  margin: 0 auto;
  border: .25rem solid black;
  border-radius: 1rem;
  width: 65%;
  .about-header {
    text-align: center;
    text-decoration: underline;
  }
  .about-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;

    .my-picture{
      border-radius: 100%;
      border: .25rem solid black;
    }

    .about-me {
      width: 50%;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

.connection-links {
  display: flex;
  justify-content: center;
  align-items: center;
  .connection-image {
    display: block;
    scale: 75%;
  }
  .connection-image:hover {
    cursor: pointer;
  }
  p {
    font-size: 2rem;
  }
}

.navbar {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  
  .navbar-link { 
    color: black;
    transition: text-decoration 1s ease-in-out;
  }
}

.achieve-header {
  font-size: 2.25rem;
  text-decoration: underline;
  text-align: center;
}
.achievement {
  border: .25rem solid black;
  border-radius: 1rem;
  box-shadow: 0 0 1rem;
  width: 55%;
  margin: 0 auto;
  .achieve-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .achieve-title {
      font-size: 1.15rem;
    }
  }
  .achieve-bottom {
    margin: 0 auto;
    width: 75%;
    text-align: center;
  }
}

.achievement:first-child {
  margin-bottom: 1.5rem;
}